<body>
    <div class="container">
      <form [formGroup]="resetPasswordForm">
        <div class="user-details">
          <h1>Reset Password</h1>
        
          <div style="display: flex; flex-wrap: wrap;">
            <mat-form-field style="width: 200px;">
              <mat-label>Enter OTP</mat-label>
              <input matInput  formControlName="otp">
            </mat-form-field>

            <div style="height: 50px; width: 100px; text-align: center; border: 1px solid gray; margin-left: 10px;">
              <div style="margin: 15px;">{{code}}</div>
            </div>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Enter New Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="cpassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div class="button">
              <button mat-stroked-button color="accent" (click)="resetPassword()">Confirm</button>
            </div>
  
          </div>
        </div>
      </form>
  
    </div>
  </body>