<body>
    <div class="container">
      <form [formGroup]="forgotPasswordForm">
        <div class="user-details">
          <h1>Forgot Password</h1>
          <div>
            <mat-form-field>
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="test@example.com" formControlName="email">
            </mat-form-field>
          </div>
          <div class="button" style="display: flex; flex-wrap: wrap; justify-content: end">
            <button mat-stroked-button color="accent" (click)="forgotPassword()" >Send OTP</button>
          </div>
        </div>
      </form>
      
    </div>
  </body>