mat-card{
    /* width: 500px; */
    height: 200px;
    background-color: azure;
  }
  .example-card {
    max-width: 400px;
  }



  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
    width: 100vw;
  }

  .container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
  }
  h1{
    text-align: center;
  }

  mat-form-field{
    width: 100%;
  }



